.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  height: 100px;
  display: flex;
  align-items: center;
  outline: red solid 1px
}

.header a{
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #4D4D4D;
  padding: 0 20px;
}

.header a:hover{
  color: #161616;
  text-decoration: underline;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-link{
  margin-right: auto;
}

.footer{
  height: 100px;
  outline: red solid 1px
}

.home{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about{
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  width: 650px;
}

.about-text h1{
  font-size: 50px;
}

.about-text p{
  font-size: 18px;
  margin-bottom: 40px;
  line-height:1.6;
}

.about-text a{
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.profile-style{
  height: 250px;
  border-radius: 50%;
  border: solid black 1px;
}

.social-icons{
  margin-bottom: 30px;
}


.dev-stack{
  width: 650px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.dev-icons img{
  margin-inline: 20px;
}


.projects{
  height: 100%;
}

.contact{
  height: 100%;
}
